extends ../layout

block content
    if (err)
        p= err

    form(method='post', action='/auth')
        input(type='email', name='email', placeholder='e-mail')
        input(type='password', name='password', placeholder='Password')
        label Запомнить меня 
            input(type='checkbox', checked, name='save')
        input(type='submit', value='Sign In')

    p Или можете войти через 
        a(href='/auth/github') github
