extends layout

block content
    form(action=`/notes/edit/${note.id}`, method='post')
        input(name='title', value=note.title)
        textarea(name='content')= note.content
        input(type='submit', value='Изменить')
