extends layout

block content
    form(action=`/edit/${note.id}`, method='post')
        input(name='text', value=note.text)
        input(name='completed', value=note.completed)
        input(type='submit', value='Изменить')
