doctype html
html
    head
        link(rel='stylesheet', href='/main.css')
        title!= title

    body
        div.left
            h1!= title

            nav
                ul
                    li: a(href='/') Главная
                    if (user)
                        li: a(href='/notes/add') Добавить
                        li: a(href='/users/signout') Выйти
                    else
                        li: a(href='/users/signup') Регистрация
                        li: a(href='/users/signin') Войти

        div.right
            if (user)
                p= `Добро пожаловать, ${user.firstName || user.name}!`

            block content
