doctype html
html
    head
        link(rel='stylesheet', href='/main.css')
        title!= title

    body
        div.left
            h1!= title

            nav
                ul
                    li: a(href='/') Главная
                    if (user.id !== 0)
                        li: a(href='/notes/add') Добавить
                        li: a(href='/auth/signout') Выйти
                    else
                        li: a(href='/auth/signup') Регистрация
                        li: a(href='/auth') Войти

        div.right
            if (user.id !== 0)
                p= `Добро пожаловать, ${user.firstName || user.name}!`

            block content
