html, body {
    padding: 0;
    margin: 0;
    background-color: #ac5;
}

.left {
    box-sizing: border-box;
    width: 20%;
    padding: 20px;
    float: left;
}

.right {
    box-sizing: border-box;
    width: 80%;
    background-color: #eee;
    padding: 50px;
    min-height: 100vh;
    float: left;
    border-left: solid black 5px;
}

.right::after {
    content: '';
    clear: both;
}

.right form > * {
    display: block;
    margin: 10px 0;
}

.note {
    position: relative;
    box-sizing: border-box;
    background-color: #88f;
    width: 400px;
    float: left;
    padding: 10px;
    margin: 10px;
}

.note > nav {
    position: absolute;
    top: 5px;
    right: 5px;
}

.note > nav > a {
    font-size: 10pt;
    color: inherit;
    margin: 0 5px;
}
