extends ../layout

block content
    form(action='/notes/add', method='post')
        input(placeholder='Заголовок заметки', name='title')
        textarea(name='content')
        input(type='submit', value='Добавить')
